@namespace Projecteuler.Components.Problems
@page "/problem/63"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 63;

    protected override string ProblemTitle => "Powerful Digit Counts";

    protected override string Description => "<p>The $5$-digit number, $16807=7^5$, is also a fifth power. Similarly, the $9$-digit number, $134217728=8^9$, is a ninth power.</p>\n<p>How many $n$-digit positive integers exist which are also an $n$th power?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 63
        // Powerful Digit Counts
        return 0;
    }
}


