@namespace Projecteuler.Components.Problems
@page "/problem/87"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 87;

    protected override string ProblemTitle => "Prime Power Triples";

    protected override string Description => "<p>The smallest number expressible as the sum of a prime square, prime cube, and prime fourth power is $28$. In fact, there are exactly four numbers below fifty that can be expressed in such a way:</p>\n$$\\\\begin{align}\n28 &amp;= 2^2 + 2^3 + 2^4\\\n33 &amp;= 3^2 + 2^3 + 2^4\\\n49 &amp;= 5^2 + 2^3 + 2^4\\\n47 &amp;= 2^2 + 3^3 + 2^4\n\\\\end{align}$$\n<p>How many numbers below fifty million can be expressed as the sum of a prime square, prime cube, and prime fourth power?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 87
        // Prime Power Triples
        return 0;
    }
}


