@namespace Projecteuler.Components.Problems
@page "/problem/67"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 67;

    protected override string ProblemTitle => "Maximum Path Sum II";

    protected override string Description => "<p>By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.</p>\n<p class=\"monospace center\"><span class=\"red\"><b>3</b></span><br><span class=\"red\"><b>7</b></span> 4<br>\n2 <span class=\"red\"><b>4</b></span> 6<br>\n8 5 <span class=\"red\"><b>9</b></span> 3</p>\n<p>That is, 3 + 7 + 4 + 9 = 23.</p>\n<p>Find the maximum total from top to bottom in <a href=\"resources/documents/0067_triangle.txt\">triangle.txt</a> (right click and 'Save Link/Target As...'), a 15K text file containing a triangle with one-hundred rows.</p>\n<p class=\"smaller\"><b>NOTE:</b> This is a much more difficult version of <a href=\"problem=18\">Problem 18</a>. It is not possible to try every route to solve this problem, as there are $2^{99}$ altogether! If you could check one trillion ($10^{12}$) routes every second it would take over twenty billion years to check them all. There is an efficient algorithm to solve it. ;o)</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 67
        // Maximum Path Sum II
        return 0;
    }
}


