@namespace Projecteuler.Components.Problems
@page "/problem/85"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 85;

    protected override string ProblemTitle => "Counting Rectangles";

    protected override string Description => "<p>By counting carefully it can be seen that a rectangular grid measuring $3$ by $2$ contains eighteen rectangles:</p>\n<div class=\"center\">\n<img src=\"resources/images/0085.png?1678992052\" class=\"dark_img\" alt=\"\"></div>\n<p>Although there exists no rectangular grid that contains exactly two million rectangles, find the area of the grid with the nearest solution.</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 85
        // Counting Rectangles
        return 0;
    }
}


