@namespace Projecteuler.Components.Problems
@page "/problem/78"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 78;

    protected override string ProblemTitle => "Coin Partitions";

    protected override string Description => "<p>Let $p(n)$ represent the number of different ways in which $n$ coins can be separated into piles. For example, five coins can be separated into piles in exactly seven different ways, so $p(5)=7$.</p>\n<div class=\"margin_left\">\nOOOOO<br>\nOOOO   O<br>\nOOO   OO<br>\nOOO   O   O<br>\nOO   OO   O<br>\nOO   O   O   O<br>\nO   O   O   O   O\n</div>\n<p>Find the least value of $n$ for which $p(n)$ is divisible by one million.</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 78
        // Coin Partitions
        return 0;
    }
}


