@namespace Projecteuler.Components.Problems
@page "/problem/36"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 36;

    protected override string ProblemTitle => "Double-base Palindromes";

    protected override string Description => "<p>The decimal number, $585 = 1001001001_2$ (binary), is palindromic in both bases.</p>\n<p>Find the sum of all numbers, less than one million, which are palindromic in base $10$ and base $2$.</p>\n<p class=\"smaller\">(Please note that the palindromic number, in either base, may not include leading zeros.)</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 36
        // Double-base Palindromes
        return 0;
    }
}


