@namespace Projecteuler.Components.Problems
@page "/problem/62"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 62;

    protected override string ProblemTitle => "Cubic Permutations";

    protected override string Description => "<p>The cube, $41063625$ ($345^3$), can be permuted to produce two other cubes: $56623104$ ($384^3$) and $66430125$ ($405^3$). In fact, $41063625$ is the smallest cube which has exactly three permutations of its digits which are also cube.</p>\n<p>Find the smallest cube for which exactly five permutations of its digits are cube.</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 62
        // Cubic Permutations
        return 0;
    }
}


