@namespace Projecteuler.Components.Problems
@page "/problem/52"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 52;

    protected override string ProblemTitle => "Permuted Multiples";

    protected override string Description => "<p>It can be seen that the number, $125874$, and its double, $251748$, contain exactly the same digits, but in a different order.</p>\n<p>Find the smallest positive integer, $x$, such that $2x$, $3x$, $4x$, $5x$, and $6x$, contain the same digits.</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 52
        // Permuted Multiples
        return 0;
    }
}


