@namespace Projecteuler.Components.Problems
@page "/problem/48"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 48;

    protected override string ProblemTitle => "Self Powers";

    protected override string Description => "<p>The series, $1^1 + 2^2 + 3^3 + \\\\cdots + 10^{10} = 10405071317$.</p>\n<p>Find the last ten digits of the series, $1^1 + 2^2 + 3^3 + \\\\cdots + 1000^{1000}$.</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 48
        // Self Powers
        return 0;
    }
}


