@namespace Projecteuler.Components.Problems
@page "/problem/77"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 77;

    protected override string ProblemTitle => "Prime Summations";

    protected override string Description => "<p>It is possible to write ten as the sum of primes in exactly five different ways:</p>\n$$\\\\begin{align}\n&amp;7 + 3\\\n&amp;5 + 5\\\n&amp;5 + 3 + 2\\\n&amp;3 + 3 + 2 + 2\\\n&amp;2 + 2 + 2 + 2 + 2\n\\\\end{align}$$\n<p>What is the first value which can be written as the sum of primes in over five thousand different ways?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 77
        // Prime Summations
        return 0;
    }
}


