@namespace Projecteuler.Components.Problems
@page "/problem/35"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 35;

    protected override string ProblemTitle => "Circular Primes";

    protected override string Description => "<p>The number, $197$, is called a circular prime because all rotations of the digits: $197$, $971$, and $719$, are themselves prime.</p>\n<p>There are thirteen such primes below $100$: $2, 3, 5, 7, 11, 13, 17, 31, 37, 71, 73, 79$, and $97$.</p>\n<p>How many circular primes are there below one million?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 35
        // Circular Primes
        return 0;
    }
}


