@namespace Projecteuler.Components.Problems
@using System.Numerics
@page "/problem/25"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 25;

    protected override string ProblemTitle => "$1000$-digit Fibonacci Number";

    protected override string Description => "<p>The Fibonacci sequence is defined by the recurrence relation:</p>\n<blockquote>$F_n = F_{n - 1} + F_{n - 2}$, where $F_1 = 1$ and $F_2 = 1$.</blockquote>\n<p>Hence the first $12$ terms will be:</p>\n$$\\\\begin{align}\nF_1 &amp;= 1\\\nF_2 &amp;= 1\\\nF_3 &amp;= 2\\\nF_4 &amp;= 3\\\nF_5 &amp;= 5\\\nF_6 &amp;= 8\\\nF_7 &amp;= 13\\\nF_8 &amp;= 21\\\nF_9 &amp;= 34\\\nF_{10} &amp;= 55\\\nF_{11} &amp;= 89\\\nF_{12} &amp;= 144\n\\\\end{align}$$\n<p>The $12$th term, $F_{12}$, is the first term to contain three digits.</p>\n<p>What is the index of the first term in the Fibonacci sequence to contain $1000$ digits?</p>";

    protected override string Explanation => "We iterate Fibonacci numbers using `BigInteger` until the current term reaches 1000 digits. The loop tracks the index, so the first term with length 1000 yields the answer.";

    protected override long Resolve()
    {
        BigInteger a = 1;
        BigInteger b = 1;
        int index = 2;

        while (b.ToString().Length < 1000)
        {
            BigInteger next = a + b;
            a = b;
            b = next;
            index++;
        }

        return index;
    }
}


