@namespace Projecteuler.Components.Problems
@page "/problem/37"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 37;

    protected override string ProblemTitle => "Truncatable Primes";

    protected override string Description => "<p>The number $3797$ has an interesting property. Being prime itself, it is possible to continuously remove digits from left to right, and remain prime at each stage: $3797$, $797$, $97$, and $7$. Similarly we can work from right to left: $3797$, $379$, $37$, and $3$.</p>\n<p>Find the sum of the only eleven primes that are both truncatable from left to right and right to left.</p>\n<p class=\"smaller\">NOTE: $2$, $3$, $5$, and $7$ are not considered to be truncatable primes.</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 37
        // Truncatable Primes
        return 0;
    }
}


