@namespace Projecteuler.Components.Problems
@page "/problem/41"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 41;

    protected override string ProblemTitle => "Pandigital Prime";

    protected override string Description => "<p>We shall say that an $n$-digit number is pandigital if it makes use of all the digits $1$ to $n$ exactly once. For example, $2143$ is a $4$-digit pandigital and is also prime.</p>\n<p>What is the largest $n$-digit pandigital prime that exists?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 41
        // Pandigital Prime
        return 0;
    }
}


