@namespace Projecteuler.Components.Problems
@page "/problem/32"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 32;

    protected override string ProblemTitle => "Pandigital Products";

    protected override string Description => "<p>We shall say that an $n$-digit number is pandigital if it makes use of all the digits $1$ to $n$ exactly once; for example, the $5$-digit number, $15234$, is $1$ through $5$ pandigital.</p>\n\n<p>The product $7254$ is unusual, as the identity, $39 \\\\times 186 = 7254$, containing multiplicand, multiplier, and product is $1$ through $9$ pandigital.</p>\n\n<p>Find the sum of all products whose multiplicand/multiplier/product identity can be written as a $1$ through $9$ pandigital.</p>\n\n<div class=\"note\">HINT: Some products can be obtained in more than one way so be sure to only include it once in your sum.</div>";

    protected override string Explanation => "We iterate through possible multiplicands and multipliers such that the total number of digits is 9. A product is added to a <code>HashSet</code> if the identity is pandigital. The total sum is the sum of all unique products in the set.";

    protected override long Resolve()
    {
        var products = new HashSet<long>();
        for (long a = 1; a < 100; a++)
        {
            for (long b = 100; b < 10000; b++)
            {
                long p = a * b;
                if (IsPandigital(a, b, p))
                {
                    products.Add(p);
                }
            }
        }
        return products.Sum();
    }

    private bool IsPandigital(long a, long b, long p)
    {
        string s = a.ToString() + b.ToString() + p.ToString();
        if (s.Length != 9) return false;
        var chars = s.ToCharArray();
        Array.Sort(chars);
        return new string(chars) == "123456789";
    }
}


