@namespace Projecteuler.Components.Problems
@page "/problem/50"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 50;

    protected override string ProblemTitle => "Consecutive Prime Sum";

    protected override string Description => "<p>The prime $41$, can be written as the sum of six consecutive primes:</p>\n$$41 = 2 + 3 + 5 + 7 + 11 + 13.$$\n<p>This is the longest sum of consecutive primes that adds to a prime below one-hundred.</p>\n<p>The longest sum of consecutive primes below one-thousand that adds to a prime, contains $21$ terms, and is equal to $953$.</p>\n<p>Which prime, below one-million, can be written as the sum of the most consecutive primes?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 50
        // Consecutive Prime Sum
        return 0;
    }
}


