@namespace Projecteuler.Components.Problems
@page "/problem/76"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 76;

    protected override string ProblemTitle => "Counting Summations";

    protected override string Description => "<p>It is possible to write five as a sum in exactly six different ways:</p>\n$$\\\\begin{align}\n&amp;4 + 1\\\n&amp;3 + 2\\\n&amp;3 + 1 + 1\\\n&amp;2 + 2 + 1\\\n&amp;2 + 1 + 1 + 1\\\n&amp;1 + 1 + 1 + 1 + 1\n\\\\end{align}$$\n<p>How many different ways can one hundred be written as a sum of at least two positive integers?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 76
        // Counting Summations
        return 0;
    }
}


