@namespace Projecteuler.Components.Problems
@page "/problem/39"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 39;

    protected override string ProblemTitle => "Integer Right Triangles";

    protected override string Description => "<p>If $p$ is the perimeter of a right angle triangle with integral length sides, $\\\\{a, b, c\\\\}$, there are exactly three solutions for $p = 120$.</p>\n<p>$\\\\{20,48,52\\\\}$, $\\\\{24,45,51\\\\}$, $\\\\{30,40,50\\\\}$</p>\n<p>For which value of $p \\\\le 1000$, is the number of solutions maximised?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 39
        // Integer Right Triangles
        return 0;
    }
}


