@namespace Projecteuler.Components.Problems
@page "/problem/47"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 47;

    protected override string ProblemTitle => "Distinct Primes Factors";

    protected override string Description => "<p>The first two consecutive numbers to have two distinct prime factors are:</p>\n$$\\\\begin{align}\n14 &amp;= 2 \\\\times 7\\\n15 &amp;= 3 \\\\times 5.\n\\\\end{align}$$\n<p>The first three consecutive numbers to have three distinct prime factors are:</p>\n$$\\\\begin{align}\n644 &amp;= 2^2 \\\\times 7 \\\\times 23\\\n645 &amp;= 3 \\\\times 5 \\\\times 43\\\n646 &amp;= 2 \\\\times 17 \\\\times 19.\n\\\\end{align}$$\n<p>Find the first four consecutive integers to have four distinct prime factors each. What is the first of these numbers?</p>";

    protected override string Explanation => "Not implemented yet.";

    protected override long Resolve()
    {
        // TODO: Implement problem 47
        // Distinct Primes Factors
        return 0;
    }
}


