@namespace Projecteuler.Components.Problems
@using System
@page "/problem/28"
@inherits ProblemBase

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override int Ref => 28;

    protected override string ProblemTitle => "Number Spiral Diagonals";

    protected override string Description => "<p>Starting with the number $1$ and moving to the right in a clockwise direction a $5$ by $5$ spiral is formed as follows:</p>\n<p class=\"monospace center\"><span class=\"red\"><b>21</b></span> 22 23 24 <span class=\"red\"><b>25</b></span><br>\n20  <span class=\"red\"><b>7</b></span>  8  <span class=\"red\"><b>9</b></span> 10<br>\n19  6  <span class=\"red\"><b>1</b></span>  2 11<br>\n18  <span class=\"red\"><b>5</b></span>  4  <span class=\"red\"><b>3</b></span> 12<br><span class=\"red\"><b>17</b></span> 16 15 14 <span class=\"red\"><b>13</b></span></p>\n<p>It can be verified that the sum of the numbers on the diagonals is $101$.</p>\n<p>What is the sum of the numbers on the diagonals in a $1001$ by $1001$ spiral formed in the same way?</p>";

    protected override string Explanation => "For each square layer with side length $n=2k+1$, the four corner values sum to $4n^2 - 12k$. Summing these for $k=1..500$ and adding the center 1 yields the diagonal sum for a $1001\\\\times1001$ spiral.";

    protected override long Resolve()
    {
        long sum = 1;
        for (int k = 1; k <= 500; k++)
        {
            int side = 2 * k + 1;
            sum += 4L * side * side - 12L * k;
        }

        return sum;
    }
}


